

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
}


body {
    background-color: #f2f2f2;
}

.contenedor {
    width: auto;
    margin: 40px;
    padding: 0px;
}


h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

h2.verde {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #1ed223;
}

p,
li {
    font-family: 'Bellefair', serif;
    font-size: 18px;
}

span {
    color: #1ed223;
}

ul {
    list-style: none;
}



.center {
    font-size: 24px;
    text-align: center;
}

body.inicio .nav-wrapper .activo {
    border-bottom: 5px solid #1ed223;
}




div.hero {
    background-image: url(../img/background01.jpg);
    height: 100vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}


div.contenido-header {
    padding-top: 40px;
}

.logo {
    float: left;
    margin-left: 50px;
    margin-top: -30px;
}

img.logotipo {
    width: 250px;
    margin-left: 20px;
}

nav ul {
    float: right;
    margin-right: 70px;
}

nav ul li {
    display: inline-block;
  
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a {
    padding: 20px 10px;
    display: inline-block;
    outline: none;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1.2px;
}

nav ul li a:hover {
    border-bottom: 5px solid #1ed223;
}

.encabezado {
    color: #000;
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 80px;
    text-align: center;
}

.encabezado span {
    font-size: 20px;
    display: table;
    margin: 0 auto;
}

img.planta {
    height: 50px;
}

blockquote {
    color: #3B9009;
    font-size: 28px;
    border-left: 10px solid #3B9009;
    padding: 9px 20px;
}





.galeria {
    text-align: center;
    margin-top: -40px;
}

div.galeria a {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
}



footer {
    background-color: #585858;
    padding-top: 20px;
}

footer .contenedor > div {
    color: #ffffff;
    padding: 0px 2px;
    font-size: 12px;

}


p.copyright {
    background-color: #614a0b;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 10px 0;
    margin: 20px 0 0 0;
    text-align: center;
}

nav.redes-sociales {
    text-align: center;
}

nav.redes-sociales a {
    color: white;
    font-size: 2.5em;
    margin-right: 20px;
}


